@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Moderne-Sans';
  font-style: normal;
  src: url("../fonts/Moderne-Sans.ttf") format("truetype");
}

html, body {
  overflow: auto;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

figure {
  margin: 0;
}

a {
  text-decoration:none; 
  color: black;
  outline: none;
  cursor: pointer;
}
